<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<body>




  <div class="signup-container">
    

    <div class="left-frame">
       
    </div>

  
    <div class="right-frame">
         <form  
    onsubmit="return validateSignupForm()"
    action="/admin/signup" method="POST" >

  
      <div class="signup-frame" style="width: 650px">

        <div class="signup-top">
         
          <div>Go back <a href="/admin" style="color: #40a7fb">
            <img src="/img/icons8-home.svg" style="width: 40px" height="40px"/>
          </a></div>
          <h4>Signup</h4>
           <div class="login-text">
            <p>
            Already signed up?
            <a href="/admin/login">Login</a>
          </p>
           </div>

     
        </div>


        <div class="sign-input-frame" style="justify-content: space-between">
          <div class="sign-up-frame">
            <label>Name *</label>
            <input
              type="text"
              name="memberNick"
              class="member-nick"
              placeholder="Name"
              value=""
            />
          </div>

          <div class="sign-up-frame">
            <label>Phone *</label>
            <input
              type="text"
              name="memberPhone"
              class="member-phone"
              placeholder="Phone"
              value=""
            />
          </div>
        </div>
        <div class="sign-input-frame" style="justify-content: space-between">
          <div class="sign-up-frame">
            <label>Password *</label>
            <input
              type="password"
              name="memberPassword"
              class="member-password"
              placeholder="Password"
              value=""
            />
          </div>
          <div class="sign-up-frame">
            <label>Repeat password *</label>
            <input
              type="password"
              name="confirmPassword"
              class="confirm-password"
              placeholder="Repeat password"
              value=""
            />
          </div>
        </div>

       

        <input name="memberType" value="FOUNDER" hidden />


    <div class="login-signup">
          
        <button class="signup-btn" name="signup" type="submit">
          Signup
        </button>

        <!-- <p>
            Already signed up?
            <a href="/admin/login">Login</a>
          </p> -->

     </div>

         



      </div>

    </form>

    </div>

  </div>



  
  <script type="text/javascript" src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>
